# rooms adj to wumpus have stench
(or (not W11) S21)
(or (not W11) S12)
(or (not W12) S22)
(or (not W12) S11)
(or (not W12) S13)
(or (not W13) S23)
(or (not W13) S12)
(or (not W13) S14)
(or (not W14) S24)
(or (not W14) S13)
(or (not W21) S11)
(or (not W21) S31)
(or (not W21) S22)
(or (not W22) S12)
(or (not W22) S32)
(or (not W22) S21)
(or (not W22) S23)
(or (not W23) S13)
(or (not W23) S33)
(or (not W23) S22)
(or (not W23) S24)
(or (not W24) S14)
(or (not W24) S34)
(or (not W24) S23)
(or (not W31) S21)
(or (not W31) S41)
(or (not W31) S32)
(or (not W32) S22)
(or (not W32) S42)
(or (not W32) S31)
(or (not W32) S33)
(or (not W33) S23)
(or (not W33) S43)
(or (not W33) S32)
(or (not W33) S34)
(or (not W34) S24)
(or (not W34) S44)
(or (not W34) S33)
(or (not W41) S31)
(or (not W41) S42)
(or (not W42) S32)
(or (not W42) S41)
(or (not W42) S43)
(or (not W43) S33)
(or (not W43) S42)
(or (not W43) S44)
(or (not W44) S34)
(or (not W44) S43)
# rooms adj to pit have breeze
(or (not P11) B21)
(or (not P11) B12)
(or (not P12) B22)
(or (not P12) B11)
(or (not P12) B13)
(or (not P13) B23)
(or (not P13) B12)
(or (not P13) B14)
(or (not P14) B24)
(or (not P14) B13)
(or (not P21) B11)
(or (not P21) B31)
(or (not P21) B22)
(or (not P22) B12)
(or (not P22) B32)
(or (not P22) B21)
(or (not P22) B23)
(or (not P23) B13)
(or (not P23) B33)
(or (not P23) B22)
(or (not P23) B24)
(or (not P24) B14)
(or (not P24) B34)
(or (not P24) B23)
(or (not P31) B21)
(or (not P31) B41)
(or (not P31) B32)
(or (not P32) B22)
(or (not P32) B42)
(or (not P32) B31)
(or (not P32) B33)
(or (not P33) B23)
(or (not P33) B43)
(or (not P33) B32)
(or (not P33) B34)
(or (not P34) B24)
(or (not P34) B44)
(or (not P34) B33)
(or (not P41) B31)
(or (not P41) B42)
(or (not P42) B32)
(or (not P42) B41)
(or (not P42) B43)
(or (not P43) B33)
(or (not P43) B42)
(or (not P43) B44)
(or (not P44) B34)
(or (not P44) B43)
# no breeze means adj rooms dont have pit
(or B11 (not P21))
(or B11 (not P12))
(or B12 (not P22))
(or B12 (not P11))
(or B12 (not P13))
(or B13 (not P23))
(or B13 (not P12))
(or B13 (not P14))
(or B14 (not P24))
(or B14 (not P13))
(or B21 (not P11))
(or B21 (not P31))
(or B21 (not P22))
(or B22 (not P12))
(or B22 (not P32))
(or B22 (not P21))
(or B22 (not P23))
(or B23 (not P13))
(or B23 (not P33))
(or B23 (not P22))
(or B23 (not P24))
(or B24 (not P14))
(or B24 (not P34))
(or B24 (not P23))
(or B31 (not P21))
(or B31 (not P41))
(or B31 (not P32))
(or B32 (not P22))
(or B32 (not P42))
(or B32 (not P31))
(or B32 (not P33))
(or B33 (not P23))
(or B33 (not P43))
(or B33 (not P32))
(or B33 (not P34))
(or B34 (not P24))
(or B34 (not P44))
(or B34 (not P33))
(or B41 (not P31))
(or B41 (not P42))
(or B42 (not P32))
(or B42 (not P41))
(or B42 (not P43))
(or B43 (not P33))
(or B43 (not P42))
(or B43 (not P44))
(or B44 (not P34))
(or B44 (not P43))
# no stench means adj rooms dont have wumpus
(or S11 (not W21))
(or S11 (not W12))
(or S12 (not W22))
(or S12 (not W11))
(or S12 (not W13))
(or S13 (not W23))
(or S13 (not W12))
(or S13 (not W14))
(or S14 (not W24))
(or S14 (not W13))
(or S21 (not W11))
(or S21 (not W31))
(or S21 (not W22))
(or S22 (not W12))
(or S22 (not W32))
(or S22 (not W21))
(or S22 (not W23))
(or S23 (not W13))
(or S23 (not W33))
(or S23 (not W22))
(or S23 (not W24))
(or S24 (not W14))
(or S24 (not W34))
(or S24 (not W23))
(or S31 (not W21))
(or S31 (not W41))
(or S31 (not W32))
(or S32 (not W22))
(or S32 (not W42))
(or S32 (not W31))
(or S32 (not W33))
(or S33 (not W23))
(or S33 (not W43))
(or S33 (not W32))
(or S33 (not W34))
(or S34 (not W24))
(or S34 (not W44))
(or S34 (not W33))
(or S41 (not W31))
(or S41 (not W42))
(or S42 (not W32))
(or S42 (not W41))
(or S42 (not W43))
(or S43 (not W33))
(or S43 (not W42))
(or S43 (not W44))
(or S44 (not W34))
(or S44 (not W43))
# safe if and only if no wumpus and no pit
(or W11 P11 SAFE11)
(or (not SAFE11) (not W11))
(or (not SAFE11) (not P11))
(or W12 P12 SAFE12)
(or (not SAFE12) (not W12))
(or (not SAFE12) (not P12))
(or W13 P13 SAFE13)
(or (not SAFE13) (not W13))
(or (not SAFE13) (not P13))
(or W14 P14 SAFE14)
(or (not SAFE14) (not W14))
(or (not SAFE14) (not P14))
(or W21 P21 SAFE21)
(or (not SAFE21) (not W21))
(or (not SAFE21) (not P21))
(or W22 P22 SAFE22)
(or (not SAFE22) (not W22))
(or (not SAFE22) (not P22))
(or W23 P23 SAFE23)
(or (not SAFE23) (not W23))
(or (not SAFE23) (not P23))
(or W24 P24 SAFE24)
(or (not SAFE24) (not W24))
(or (not SAFE24) (not P24))
(or W31 P31 SAFE31)
(or (not SAFE31) (not W31))
(or (not SAFE31) (not P31))
(or W32 P32 SAFE32)
(or (not SAFE32) (not W32))
(or (not SAFE32) (not P32))
(or W33 P33 SAFE33)
(or (not SAFE33) (not W33))
(or (not SAFE33) (not P33))
(or W34 P34 SAFE34)
(or (not SAFE34) (not W34))
(or (not SAFE34) (not P34))
(or W41 P41 SAFE41)
(or (not SAFE41) (not W41))
(or (not SAFE41) (not P41))
(or W42 P42 SAFE42)
(or (not SAFE42) (not W42))
(or (not SAFE42) (not P42))
(or W43 P43 SAFE43)
(or (not SAFE43) (not W43))
(or (not SAFE43) (not P43))
(or W44 P44 SAFE44)
(or (not SAFE44) (not W44))
(or (not SAFE44) (not P44))
# at least 1 wumpus
(or W11 W12 W13 W14 W21 W22 W23 W24 W31 W32 W33 W34 W41 W42 W43 W44)
# at most 1 wumpus
(or (not W11) (not W12))
(or (not W11) (not W13))
(or (not W11) (not W14))
(or (not W11) (not W21))
(or (not W11) (not W22))
(or (not W11) (not W23))
(or (not W11) (not W24))
(or (not W11) (not W31))
(or (not W11) (not W32))
(or (not W11) (not W33))
(or (not W11) (not W34))
(or (not W11) (not W41))
(or (not W11) (not W42))
(or (not W11) (not W43))
(or (not W11) (not W44))
(or (not W12) (not W13))
(or (not W12) (not W14))
(or (not W12) (not W21))
(or (not W12) (not W22))
(or (not W12) (not W23))
(or (not W12) (not W24))
(or (not W12) (not W31))
(or (not W12) (not W32))
(or (not W12) (not W33))
(or (not W12) (not W34))
(or (not W12) (not W41))
(or (not W12) (not W42))
(or (not W12) (not W43))
(or (not W12) (not W44))
(or (not W13) (not W14))
(or (not W13) (not W21))
(or (not W13) (not W22))
(or (not W13) (not W23))
(or (not W13) (not W24))
(or (not W13) (not W31))
(or (not W13) (not W32))
(or (not W13) (not W33))
(or (not W13) (not W34))
(or (not W13) (not W41))
(or (not W13) (not W42))
(or (not W13) (not W43))
(or (not W13) (not W44))
(or (not W14) (not W21))
(or (not W14) (not W22))
(or (not W14) (not W23))
(or (not W14) (not W24))
(or (not W14) (not W31))
(or (not W14) (not W32))
(or (not W14) (not W33))
(or (not W14) (not W34))
(or (not W14) (not W41))
(or (not W14) (not W42))
(or (not W14) (not W43))
(or (not W14) (not W44))
(or (not W21) (not W22))
(or (not W21) (not W23))
(or (not W21) (not W24))
(or (not W21) (not W31))
(or (not W21) (not W32))
(or (not W21) (not W33))
(or (not W21) (not W34))
(or (not W21) (not W41))
(or (not W21) (not W42))
(or (not W21) (not W43))
(or (not W21) (not W44))
(or (not W22) (not W23))
(or (not W22) (not W24))
(or (not W22) (not W31))
(or (not W22) (not W32))
(or (not W22) (not W33))
(or (not W22) (not W34))
(or (not W22) (not W41))
(or (not W22) (not W42))
(or (not W22) (not W43))
(or (not W22) (not W44))
(or (not W23) (not W24))
(or (not W23) (not W31))
(or (not W23) (not W32))
(or (not W23) (not W33))
(or (not W23) (not W34))
(or (not W23) (not W41))
(or (not W23) (not W42))
(or (not W23) (not W43))
(or (not W23) (not W44))
(or (not W24) (not W31))
(or (not W24) (not W32))
(or (not W24) (not W33))
(or (not W24) (not W34))
(or (not W24) (not W41))
(or (not W24) (not W42))
(or (not W24) (not W43))
(or (not W24) (not W44))
(or (not W31) (not W32))
(or (not W31) (not W33))
(or (not W31) (not W34))
(or (not W31) (not W41))
(or (not W31) (not W42))
(or (not W31) (not W43))
(or (not W31) (not W44))
(or (not W32) (not W33))
(or (not W32) (not W34))
(or (not W32) (not W41))
(or (not W32) (not W42))
(or (not W32) (not W43))
(or (not W32) (not W44))
(or (not W33) (not W34))
(or (not W33) (not W41))
(or (not W33) (not W42))
(or (not W33) (not W43))
(or (not W33) (not W44))
(or (not W34) (not W41))
(or (not W34) (not W42))
(or (not W34) (not W43))
(or (not W34) (not W44))
(or (not W41) (not W42))
(or (not W41) (not W43))
(or (not W41) (not W44))
(or (not W42) (not W43))
(or (not W42) (not W44))
(or (not W43) (not W44))
# initial facts
(or (not W44))
(or (not P44))
(or (not B44))
(or (not S44))
(or (not W34))
(or (not P34))
(or S34)
(or (not B34))
(or (not W24))
(or (not P24))
(or B24)
(or (not S24))
(or (not W14))
(or (not P14))
(or (not B14))
(or (not S14))
(or (not W13))
(or (not P13))
(or B13)
(or (not S13))
(or (not W12))
(or (not P12))
(or (not B12))
(or (not S12))
(or (not W22))
(or (not P22))
(or B22)
(or (not S22))
(or (not W32))
(or (not P32))
(or S32)
(or (not B32))
(or (not W42))
(or (not P42))
(or B42)
(or (not S42))
